<!DOCTYPE html>
<html>
<head th:insert="_style_mondoelli"></head>
<body>
	<div class="container">
		<div class="contenuto">
			<div th:insert="_header_mondoelli"></div>
			<p class="testo-principale">
			    Gentile <span th:text="${operatore}"></span>,<br/>
				abbiamo ricevuto una tua richiesta di modifica password.<br/>
    			<br/>
				Se non vuoi più modificare la tua password ignora questo messaggio,
				altrimenti fai clic sul seguente link, valido <strong>una sola volta</strong>.<br/>
				<br/>
				<a class="link-mondoelli" th:href="${tokenAccessLink}" th:text="${tokenAccessLink}"></a><br/>
				<br/>
				Per gli accessi successivi potrai accedere direttamente da questa pagina:<br/>
				<a class="link-mondoelli" th:href="${linkClientApp}" th:text="${linkClientApp}"></a><br/>
				inserendo il tuo indirizzo email (lo stesso che stai leggendo in questo momento) e la password che avrai scelto.
			</p>
			<div th:insert="_footer_mondoelli"></div>
		</div>
	</div>
</body>
</html>
